*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
ul,
ol,
dl,
figure,
p {
  margin: 0;
  padding: 0;
}

html, body, div, input, button, select, option, p, text {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.125rem;
}
