:root {
  --color-mode: 'light';
  --color-elements: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);
}

:root[data-theme='dark'] {
  --color-elements: hsl(209, 23%, 22%);
  --color-background: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-theme]) {
    --color-elements: hsl(209, 23%, 22%);
    --color-background: hsl(207, 26%, 17%);
    --color-text: hsl(0, 0%, 100%);
  }
}
